.keyboard{
   color: red;
}
body{
   width: 100%;
}

.wrap{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;
   .screen{
      #inputScreen{
         color: #333;
         width: 700px;
         height: 105px;
      }
   }
   .key-buttons{
      margin: 0 auto;
      .VirtualKey{
         width: 700px;
         display: flex;
         flex-direction: column;
         .line{
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
            .space{
               width: 300px;
            }
            .shift{
               width: 95px;
            }
            .ctrl{
               width: 60px;
            }
            .symbol{
               background-color: #414a58;
               color: #fff;
            }
            .tab{
               width: 50px;
            }
            .active{
               // border-width: 3px;
               // border-style: solid;
               // border-color: aquamarine;
               background-color: #5571ee;
               color: #fff;
            }
            input{
               border: 0;
               font-size: 15px;
               height: 40px;
               min-width: 40px;
               width: auto;
               color: #80807d;
               background-color: #333;
               font-weight: 600;
               border-radius: 4px;
               padding: 0;
               &:hover{
                  border-width: 3px;
                  border-style: solid;
                  border-color: aquamarine;
               }
               &:focus{
                  background-color: #5571ee;
                  color: #fff;
               }
            }
         }
         
      }
   }
}
.lang{
   align-self: baseline;
}
